<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="nav.css" />
    <script
      src="https://kit.fontawesome.com/764462fdf1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <label class="title" for="">Shoppr</label>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </nav>

    <form action="">
      <div class="block">
        <div><h3>Login</h3></div>
        <br />

        <div class="login-box">
          <i class="fas fa-user icon"></i>
          <input type="text" placeholder="Username" required />
        </div>
        <br />

        <div class="login-box">
          <i class="fas fa-lock icon"></i>
          <input type="password" placeholder="Input your password" required />
        </div>

        <div class="last-container">
          <div class="checkbox">
            <input type="checkbox" /><label>Remember me</label>
          </div>
          <a href="Forgot Password?">Forgot Password?</a>
        </div>
        <div class="btn">
          <button type="submit" class="btn">Login</button>
        </div>
        <div>
          <p>I don't have an account? <a href="register">Register</a></p>
        </div>
      </div>
    </form>
  </body>
</html>
