<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/shoppr.css') }}"
  />
  
</head>
<body>
   
    <form action="/form-result" method="post">
        <div class="form-group">
        <div class="title"><h4>Shoppr</h4></div><br>
        <input class="special_border" name="email" id="email" type="t" placeholder="Email">
        </div>
        <div class="form-group">
        <input class="special_border" name="first_name" id="name" type="name" placeholder="First Name">
        </div>
        <div class="form-group">
            <input class="special_border" name="last_name" id="name" type="name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input class="special_border" name="password" id="password" type="password" placeholder="password">
        </div>
        <div class="check">
            <label for="get">Get Updates on new products from favorite shops</label><input type="checkbox"></div><br>
        <div class="btn">
            <button type="submit">Create Profile</button>
        </div>

    </form>
</body>
</html>