<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <script
      src="https://kit.fontawesome.com/764462fdf1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/weather.css') }}"
    />
  </head>
  <body>
    <form method="post">
      <div class="form-one">
        <input type="text" name="city" placeholder="Enter city name..." /><br />
        <div class="sect-icon">
          <i class="fas fa-search icon"></i>
          <button type="submit">City</button>
        </div>
      </div>
      <br />

      <div class="sections">
        <div class="section1">
          <label for="name">Name : {{name}}</label>
          <label for="country">Country:{{country}}</label>
          <label for="temp">Temp:{{temp}}</label>
          <label for="sunrise">Sunrise:{{sunrise}}</label>
          <label for="lon">Longtitude:{{lon}}</label>
        </div>

        <div class="section2">
          <label for="lat">Latitude:{{lat}}</label>
          <label for="pressure">Pressure:{{pressure}}</label>
          <label for="humidity">Humidity : {{humudity}}</label>
          <label for="sunset">Sunset : {{sunset}}</label>
          <label for="timezone">Timezone : {{timezone}}</label>
          <label for="description">Description :{{description}}</label>
        </div>
      </div>
    </form>

    <!-- <div>{{city_data}}</div> -->
  </body>
</html>
